@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}

.formContainer {
    max-width: 1000px;
    border-radius: 30px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.340);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.formContent {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.formContent > p {
    text-align: center;
}

.divAsideForm {
    width: 40%;
}

.imageForm {
    width: 100%;
}

.underlineTitle {
    width: 80px;
    border: 2px solid #239fd0;
    border-radius: 30px
}

.labelForm {
    font-weight: 600;
}

.registerInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nameArea, .emailArea, .phoneArea, .adressArea, .passwordArea {
    display: flex;
    flex-direction: column;
}

.inputForm {
    background-color: rgb(245, 245, 245);
    border: 2px solid transparent;
    outline: 0;
    border-radius: 30px;
    padding: 0.8rem;
    width: 300px;
}

.inputForm:focus {
    border: 2px solid #239fd0;
}

.buttonForm {
    background-color: #239fd0;
    color: white;
    font-weight: 600;
    border: none;
    outline: 0;
    border-radius: 30px;
    padding: 0.8rem;
    cursor: pointer;
    width: 180px;
    margin-top: 5px;
}

.linkForm:active {
    color: #239fd0;
}

.showPassword {
    width: 300px;
    font-size: 1rem;
    text-align: start;
    margin-top: -5px;
}

@media screen and (max-width: 750px) {
    .imageForm {
        display: none;
    }
}
